body 
{
    background-color: #FAFAFA;
    color: black ;
    height: 100%;
}

#account
{
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    cursor: pointer;
    font-size: 100%;
    height: 100%;
    float: right;
    margin-top: 0.45%;
    padding-right: 5px;
}

#account_pic
{
    cursor: pointer;
    height: 90%; 
    float:right;
    padding-right: 3px; 
}

#addMember
{
    background-color: lightskyblue;
    height: 30px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

#addMemberToCommunityLogo
{
    float: left;
    height: 26px;
    margin: 2px;      
}

#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

#createBtn
{
    clear: both; 
    font-size: 1em;
    height: 30px;
    width: 35%;
    margin-top: 1%;
    float: left; 
}

#editCommunity
{
    background-color: lightskyblue;
    height: 30px; 
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px; 
}

#editCommunityLogo
{
    height: 26px;
    float: left;
    margin: 2px;      
}

#gardaLogo
{
    cursor: pointer;
    height: 100%;
    margin-left: 20%; 
}

h1 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 5px;
    text-align: center;
}

h2
{
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#header
{
    background-color: black;
    height: 4.5%;
    width: 100%;
}

html
{
    height: 100%;
}

#inner_body
{
    height:80%;
    margin-left: 20%; 
    margin-right: 20%;
}

#logout
{
    cursor: pointer;
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    font-size: 100%;
    height: 100%;
    float: right;
    margin-top: 0.45%;
    padding-right: 6px;
}

#logout_pic
{
    cursor: pointer;
    height: 90%; 
    float:right;
    padding-right: 3px;
}

#map-canvas 
{
    width: 56.5%;
    height: 100%;
    background-color: #CCC;
    float: right;
    margin-top: -22px;
    margin-bottom: 15px;
}

#menu_bar
{
    background: linear-gradient(to right, rgba(0,122,204,.5), rgba(0,122,204,1));
    height: 10%;
    width: 100%; 
}

#menu_box:hover 
{
    background: #003380;
}

#menu_box
{
    background: linear-gradient(to bottom, rgba(0,122,204,0), rgba(0,122,204,.2));
    color: white;
    cursor: pointer;
    display:inline-block; 
    float: right;
    font-family:verdana;
    height: 100%;
    margin-top: -.48%;
    text-align:center;
    width: 10%;
    vertical-align:middle;     
}

#newCommunity
{
    background-color: lightskyblue;
    height: 30px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

#newCommunityExpandLogo
{
    float: left;
    height: 26px;
    margin: 2px;   
}

#nameInput
{
    border: 1px solid blue;
    float: left;
    font-size:1em;
    margin-top: 1%;
    width: 35%;
}

#phone
{
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    font-size: 100%;
    height: 100%;
    margin-top: -0.2%;
}

#phone_pic
{
    height: 90%; 
    margin-left: 20%;
}

#seperator
{
    float: right;
    height: 100%;
    position: relative;
}

span
{ 
    display:inline-block;
    height:60%;
}