html
{
    height: 100%;
}

body 
{
    color: black ;
    background-color: #FAFAFA;
    height: 100%;
}

#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

h1 { 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
}

h3
{
    margin-top: 0px;
    margin-bottom: 0px;
}

#logout
{
    margin-top: .15em;
    color: white;
    font-size: 60%;
    cursor: pointer;
}

#header
{
    background-color: black;
    height: 4.5%;
    width: 100%;
}

#phone
{
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    font-size: 100%;
    height: 100%;
    margin-top: -0.2%;
}

#phone_pic
{
    margin-left: 20%;
    height: 90%; 
}

#logout
{
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    font-size: 100%;
    height: 100%;
    float: right;
    margin-top: 0.45%;
    padding-right: 6px;
}

#logout_pic
{
    height: 90%; 
    float:right;
    padding-right: 3px;
    cursor: pointer;
}

#account
{
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    font-size: 100%;
    height: 100%;
    float: right;
    margin-top: 0.45%;
    padding-right: 5px;
    cursor: pointer;
}

#account_pic
{
    height: 90%; 
    float:right;
    padding-right: 3px; 
    cursor: pointer;
}

#menu_bar
{
    background: linear-gradient(to right, rgba(0,122,204,.5), rgba(0,122,204,1));
    height: 10%;
    width: 100%; 
}

#menu_box:hover 
{
    background: #003380;
}

#menu_box
{
    float: right;
    width: 10%;
    height: 100%;
    color: white;
    text-align:center;
    margin-top: -.48%;
    vertical-align:middle; 
    display:inline-block; 
    cursor: pointer;
    font-family:verdana;
    background: linear-gradient(to bottom, rgba(0,122,204,0), rgba(0,122,204,.2));
}

#inner_body
{
    margin-left: 20%; 
    margin-right: 20%;
}

#seperator
{
    position: relative;
    float: right;
    height: 100%;
}

span
{ 
    height:60%;
    display:inline-block;
}

#mainDiv
{
    height: 22em;
    width: 45%;
    margin-top: 2%;
    float: left;
}

.innerDiv
{
    margin-top: 1%;
    border: black;
    border-style: double;
    background-color: initial;
}

.edit_pic
{
    height: 40px;
    margin: 2px;
    float: right;   
}

#gardaLogo
{
    height: 100%;
    margin-left: 20%; 
    cursor: pointer;
}

#downloadBtn
{
    font-size: 1em;
    height: 40px;
    margin-top: 2%;
    width: 45%;
    margin-right: 2.5%;   
}

#updateHeading
{
   margin-bottom: 0px;   
}

#report_description
{
    border: 1px solid blue;
    font-size:1.2em;
    width: 45.5%;
    float: right;
    display: inline-block;  
    margin-top: 2%;
}

#report_title
{
    float: right;
    display: inline-block;
    margin-right: 29.5%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

.updateBtn
{
    font-size: 1em;
    height: 40px;
    margin-top: 2%;
    width: 46.2%;
    float: right;
}