body 
{
    background: white;
    color: black ;
    height: 100%;
}

#gardaLogo
{
    display: block;
    height: 18em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;  
}

#Register 
{
    background-color: pink; 
    width: 100%;
}

#SignInUp 
{
    font-size: 1.75em;
    font-weight: bold;
    height: 35%; 
    line-height: 85px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#SignIn 
{
    background-color: #33CC33;   
    margin-bottom: 7px;
    width: 100%;
}

#inner_body
{
    margin: 5px;
}