.communityListContainer
{
    background-color: white;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    float: left;
    max-height: 35%;
    overflow:auto;
    width: 45%;   
}

.myinput.large
{
    float: right;
    height:22px;
    width: 22px;
}

.onoffswitch 
{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    position: relative; 
    width: 106px;
    float: right;
    float: left;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 8px;
}

.onoffswitch-switch 
{
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background: #FFFFFF;
    bottom: 0; 
    border: 2px solid #666666; 
    border-radius: 5px;
    display: block; 
    height: 30px;
    margin: 0px;
    position: absolute;
    right: 67px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 35px; 
}

.onoffswitch-checkbox 
{
    display: none;
}

.onoffswitch-label 
{
    border: 2px solid #666666;
    border-radius: 5px;
    cursor: pointer;
    display: block;  
    height: 30px;
    overflow: hidden;    
}

.onoffswitch-inner 
{
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    display: block; 
    width: 200%; 
    margin-left: -100%;
    margin-top: -6px;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after 
{  
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    display: block; 
    float: left; 
    font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0; 
    width: 50%;   
}

.onoffswitch-inner:before 
{
    background-color: #6194FD;
    color: #FFFFFF;
    content: "ON";
    padding-left: 10px;
}

.onoffswitch-inner:after 
{
    background-color: #F70808;
    content: "OFF";
    color: #FAF7F7;
    padding-right: 10px;
    margin-bottom: 3px;
    text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner 
{
    margin-left: 0;
    margin-top: -6px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch 
{
    right: 0px; 
}

#account_pic
{
    cursor: pointer;
    float:right;
    height: 90%; 
    padding-right: 3px; 
}

#account
{
    cursor: pointer;
    color: white;
    display:inline-block; 
    float: right;
    font-size: 100%;
    height: 100%;   
    margin-top: 0.45%;
    padding-right: 5px;
    vertical-align:middle;
}

#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

body 
{
    background-color: #FAFAFA;
    color: black ;
    height: 100%;
}

#gardaLogo
{
    cursor: pointer;
    height: 100%;
    margin-left: 20%; 
}

h2 
{ 
    margin-top: 1.5%;
    margin-bottom: 1%;
}

h3 
{
    margin-top: 14px;
    margin-bottom: 14px;
}

html
{
    height: 100%;
}

#header
{
    background-color: black;
    height: 4.5%;
    width: 100%;
}

#inner_body
{
    height:80%;
    margin-left: 20%; 
    margin-right: 20%;
}

#logout
{
    cursor: pointer;
    color: white;
    display:inline-block;
    font-size: 100%;
    float: right;
    height: 100%;
    margin-top: 0.45%;
    padding-right: 6px;
    vertical-align:middle;   
}

#logout_pic
{
    cursor: pointer;
    height: 90%; 
    float:right;
    padding-right: 3px;
}

#map-canvas 
{
    background-color: #CCC;
    clear: both;
    display: inline-block;
    height: 50%;
    width: 45%;
}

#menu_bar
{
    background: linear-gradient(to right, rgba(0,122,204,.5), rgba(0,122,204,1));
    height: 10%;
    width: 100%; 
}

#menu_box:hover 
{
    background: #003380;
}

#menu_box
{
    color: white;
    cursor: pointer;
    display:inline-block; 
    float: right;
    font-family:verdana;
    height: 100%;
    margin-top: -.48%;
    text-align:center;
    vertical-align:middle; 
    width: 10%;
}

#phone
{
    display:inline-block; 
    vertical-align:middle;   
    color: white;
    font-size: 100%;
    height: 100%;
    margin-top: -0.2%;
}

#phone_pic
{
    margin-left: 20%;
    height: 90%; 
}

#report_title
{
    display: inline-block;
    border: 1px solid blue;
    float: right;
    font-size:1em;
    width: 51%;
}

#report_description
{
    border: 1px solid blue;
    display: inline-block; 
    font-size:1.2em;
    float: right;
    margin-top: 2%;
    width: 50.5%;
}

#seperator
{
    float: right;
    height: 100%;
    position: relative;
}

span
{ 
    display:inline-block;
    height:60%;
}

#sendBtn
{
    float: right;
    font-size: 1em;
    height: 40px;
    margin-right: 2.5%;
    margin-top: 0px;
    width: 45%;   
}