body 
{
    background-color: #FAFAFA;
    color: black ;
}

#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

h1 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
}

#header
{
    background-color: #00B0FF;
    color: white;
    height: 3.25em;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}

#header_text
{
    display:inline-block; 
    font-size: xx-large;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-top: .15em;
    vertical-align:middle;   
}

#inner_body
{
    margin: 5px;
    margin-left: 10%; 
    margin-right: 10%;
}

input:invalid 
{
    border: 3px solid red;
    font-size:2em;
    width: 98%;
}

input:valid 
{
    border: 3px solid green;
    font-size:2em;
    width: 98%;
}

span
{ 
    line-height: 3em; 
}