.userInfoHidden
{
    display: none;
}

#account_pic
{
    cursor: pointer;
    float:right;
    height: 90%; 
    padding-right: 3px; 
}

#account
{
    cursor: pointer;
    color: white;
    display:inline-block; 
    float: right;
    font-size: 100%;
    height: 100%;   
    margin-top: 0.45%;
    padding-right: 5px;
    vertical-align:middle;
}

#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

body 
{
    background-color: #FAFAFA;
    color: black ;
    height: 100%;
}

#gardaLogo
{
    cursor: pointer;
    height: 100%;
    margin-left: 20%; 
}

h1 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    text-align: center;
}

h2
{
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#header
{
    background-color: black;
    height: 4.5%;
    width: 100%;
}

html
{
    height: 100%;
}

#inner_body
{
    margin-left: 20%; 
    margin-right: 20%;
}

#logout
{
    cursor: pointer;
    color: white;
    display:inline-block;
    font-size: 100%;
    float: right;
    height: 100%;
    margin-top: 0.45%;
    padding-right: 6px;
    vertical-align:middle;   
}

#logout_pic
{
    cursor: pointer;
    height: 90%; 
    float:right;
    padding-right: 3px;
}

#menu_bar
{
    background: linear-gradient(to right, rgba(0,122,204,.5), rgba(0,122,204,1));
    height: 10%;
    width: 100%; 
}

#menu_box
{
    background: linear-gradient(to bottom, rgba(0,122,204,0), rgba(0,122,204,.2));
    color: white;
    cursor: pointer;
    display:inline-block;
    float: right;
    font-family:verdana;
    height: 100%;
    margin-top: -.48%;
    text-align:center;
    vertical-align:middle;
    width: 10%;
}

#menu_box:hover 
{
    background: #003380;
}

#phone
{
    display:inline-block; 
    color: white;
    font-size: 100%;
    height: 100%;
    margin-top: -0.2%;
    vertical-align:middle;
}

#phone_pic
{
    height: 90%; 
    margin-left: 20%;
}

#searchBtn
{
    clear: both;
    display: hidden;
    font-size: 1em;
    float: left;
    height: 30px;
    margin-top: 0px;
    margin-top: 1%;
    width: 35%; 
}

#seperator
{
    float: right;
    height: 100%;
    position: relative;
}

span
{ 
    display:inline-block;
    height:60%;
}

#usernameInput
{
    border: 1px solid blue;
    float: left;
    font-size:1em;
    margin-top: 1%;
    width: 35%;
}

#verify_btn
{
    font-size: 1.2em;
    height: 40px;
    margin-top: 2%;
    width: 30%;
}