.myinput
{
    height:30px;
    width: 30px;
    float: right;
    margin-top: -5px;
}

.tickBox 
{
    height: 40px;
    width: 40px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    float: right;
    margin-top: -12px;
}

.selectTick
{
    height:40px;
    width: 40px;
}

#alert_logo
{
    border-bottom: .5em solid #FAFAFA;
    border-left: 1em solid #FAFAFA;
    border-right: 1em solid #FAFAFA;
    border-top: .5em solid #FAFAFA;
    float: left;
    height: 3em;
    position: relative;
}

#alert_radius_info
{
    color: blue;
    text-align: center;
}

body 
{
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; 
    -ms-text-size-adjust: none ;
    -webkit-user-select: none ; 
    -moz-user-select: none ; 
    -ms-user-select: none ; 
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ; 
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    color: black ;
    background-color: #FAFAFA;
    height: 100%;
    user-select: none ;
}

h1 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 0.1em;
}

h3 
{
    margin-top: 14px;
    margin-bottom: 14px;
}

#header
{
    background-color: #00B0FF;
    color: white;
    height: 4em;
    text-align: center;
    width: 100%;
}

#header_text
{
    display:inline-block; 
    font-size: xx-large;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-top: .15em;
    vertical-align:middle;   
}

html 
{
    -ms-touch-action: pan-x;
    height: 100%;
    position: relative;
}

input, textarea  
{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text; 
    user-select: text;
}

#inner_body
{
    height:80%;
    margin-left: 5px;
    margin-right: 5px;
}

#logo
{
    border-bottom: .5em solid #00B0FF;
    border-left: 1em solid #00B0FF;
    border-right: 1em solid #00B0FF;
    border-top: .5em solid #00B0FF;
    float: left;
    height: 3em;
    position: relative;
}

#preferences_logo
{
    bottom: 0;
    float: left;
    height: 4em;
    position: relative;
}


#refresh_logo
{
    float: right;
    height: 3em;
    margin: .5em;
    position: relative;
}

#seperator
{
    float: left;
    height: 4em;
    position: relative;
}

#search_btn
{
    display: block;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
}

#search_text
{
    color: blue;  
    margin-top: -5px;
    text-align: center;
}

#slider
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.3em;
}