.onoffswitch 
{
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select: none;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative; 
    width: 106px;
}

.onoffswitch-checkbox 
{
    display: none;
}

.onoffswitch-label 
{
    border: 2px solid #666666;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    overflow: hidden;
}

.onoffswitch-inner 
{
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}

.onoffswitch-inner:before, .onoffswitch-inner:after 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    color: white;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    width: 50%; 
}

.onoffswitch-inner:after 
{
    background-color: #F70808; color: #FAF7F7;
    content: "OFF";
    padding-right: 10px;
    text-align: right;
}

.onoffswitch-inner:before 
{
    background-color: #6194FD; 
    content: "ON";
    color: #FFFFFF;
    padding-left: 10px;
}

.onoffswitch-switch 
{
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);  
    background: #FFFFFF;
    bottom: 0;
    border: 2px solid #666666;
    border-radius: 5px;
    display: block;
    margin: 0px;
    position: absolute;
    top: 0; 
    width: 35px;
    right: 67px;    
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner 
{
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch 
{
    right: 0px; 
}

#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

body 
{
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; 
    -ms-text-size-adjust: none ;
    -webkit-user-select: none ; 
    -moz-user-select: none ; 
    -ms-user-select: none ; 
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ; 
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    background-color: #FAFAFA;
    color: black ;
    height: 100%;
    user-select: none ;
}

h1 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 0.2em;
    float: left;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 0.1em;
}

h2
{ 
    color: blue; 
    float: right;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 0.1em;
}

hr
{
    clear: both;
}

#header
{
    background-color: #00B0FF;
    color: white;
    height: 4em;
    text-align: center;
    width: 100%;
}

#header_text
{
    display:inline-block; 
    font-size: xx-large;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-top: .15em;
    vertical-align:middle;   
}

html 
{
    -ms-touch-action: pan-x ;
    height: 100%;
    position: relative;
}

#inner_body
{
    margin-left: 5px;
    margin-right: 5px;
    height:80%;
}

input, textarea  
{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text; 
    user-select: text;
}

#logo
{
    height: 3em;
    position: relative;
    float: left;
    border-left: 1em solid #00B0FF;
    border-right: 1em solid #00B0FF;
    border-top: .5em solid #00B0FF;
    border-bottom: .5em solid #00B0FF;
}

#preferences_logo
{
    bottom: 0;
    float: left;
    height: 4em;
    position: relative;
}

#refresh_logo
{
    float: right;
    height: 3em;
    margin: .5em;
    position: relative;
}

#settings_logo
{
    border-bottom: .5em solid #FAFAFA;
    border-left: 1em solid #FAFAFA;
    border-right: 1em solid #FAFAFA;
    border-top: .5em solid #FAFAFA;
    float: left;
    height: 3em;
    position: relative;
}

#seperator
{
    float: left;
    height: 4em;
    position: relative;
}