body 
{
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; 
    -ms-text-size-adjust: none ;
    -webkit-user-select: none ; 
    -moz-user-select: none ; 
    -ms-user-select: none ; 
    user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ; 
}

html 
{
    -ms-touch-action: pan-x ;
    height: 100%;
}

body 
{
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    background-color: #FAFAFA;
    color: black ;
    height: 100%;
}

input, textarea  
{
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}


h2 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
}

#header
{
    background-color: #00B0FF;
    color: white;
    height: 3.25em;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}

#header_text
{
    display:inline-block; 
    font-size: xx-large;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-top: .15em;
    vertical-align:middle;   
}

#inner_body
{
    margin: 5px;
    height: 89%;
}

#map-canvas {
    width: 100%;
    height: 65%;
    background-color: #CCC;
}

#next_btn
{
    font-size: 1.5em;
    height: 13vh;
    margin-top: 5%;
    width: 50%;
}

#load
{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}