#attempt_sign_in
{
    font-size: 1.5em;
    height: 3em;
    margin-top: 1.5em;
    width: 50%;
}

body 
{
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; 
    -ms-text-size-adjust: none ;
    -webkit-user-select: none ; 
    -moz-user-select: none ; 
    -ms-user-select: none ; 
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    background-color: #FAFAFA;
    color: black ;
    user-select: none ;
}

h1 
{ 
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
}

html 
{
    -ms-touch-action: pan-x ;
}

#header
{
    background-color: #00B0FF;
    color: white;
    height: 3.25em;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}

#header_text
{
    display:inline-block; 
    font-size: xx-large;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-top: .15em;
    vertical-align:middle;   
}

#inner_body
{
    margin: 5px;
}

input, textarea  
{
    -webkit-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text ;
}

input:invalid 
{
    border: 3px solid red;
    font-size:2em;
    width: 98%;
}

input:valid 
{
    border: 3px solid green;
    font-size:2em;
    width: 98%;
}

span
{ 
    line-height: 3em; 
}