body 
{
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none; 
    -ms-text-size-adjust: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background-color: #FAFAFA;
    color: black ;
    width: 100%;
    user-select: none;
}

#captured_image
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 200px; 
}

#captureBtn
{
    font-size: 1.5em;
}

h2 
{ 
    text-align: center 
}

html 
{
    -ms-touch-action: pan-x ;
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    width: 100%;
}

#header
{
    background-color: #00B0FF;
    color: white;
    height: 3.25em;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}

#header_text
{
    display:inline-block; 
    font-size: xx-large;
    font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-top: .15em;
    vertical-align:middle;   
}

#image_btn_container
{
    text-align: center;   
}

#inner_body
{
    height: 89%;
    width: 100%;
}

input, textarea  
{
    -webkit-user-select: text; 
    -moz-user-select: text; 
    -ms-user-select: text; user-select: text;
}

p 
{ 
    text-align: center 
}

#uploadBtn
{
    font-size: 1.5em;
}